@font-face {
    font-family: "Daydream";
    src: url("fonts/Daydream.otf");
}

@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.ttf");
}

@font-face {
    font-family: "Pixellari";
    src: url("fonts/Pixellari.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

section {
    scroll-margin-top: 120px;
}

body {
    font-family: pixel, monospace;
    background: #79c7ee;
    color: #eadb7c;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    z-index: 1000;

    display: flex;
    justify-content: center;
    gap: 90px;

    background: rgba(116, 181, 215, 0.75);
    backdrop-filter: blur(3px);

    & a {
        font-family: Minecraft;
        color: #5B5413;
        text-decoration: none;
        font-size: 27px;
        line-height: 45px;
    }

    & a:hover {
        color: #3A2D09;
        text-shadow: 2px 2px rgba(0,0,0, 0.2);
    }
}

/* HERO */
.hero {
    position: relative;

    height: 100vh;

    background-image: url("hero/home.svg");
    background-size: cover;   
    background-position: center;  
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    
    &::after {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 70px;

        background: linear-gradient(
        to bottom,
        rgba(126, 195, 238, 0) 0%,
        rgba(126, 195, 238, 1) 100%
        );

        z-index: 1;
        pointer-events: none;
    }

    & h1 {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);

        font-family: Daydream;
        font-size: 64px;
        letter-spacing: 6px;
        color: #E5B26B;
        -webkit-text-stroke: 0.5px #3A3C0E;
        text-shadow: 6px 6px rgba(0,0,0,0.4);
        white-space: nowrap;
    }

    & p {
        position: absolute;
        top: 240px;
        left: 50%;
        transform: translateX(-50%);

        font-family: Minecraft;
        font-size: 20px;
        margin: 12px 0 35px;
        color: #F4F08F;
        text-shadow: 3px 3px rgba(159, 106, 43, 0.4);
        letter-spacing: 5px;
    }

    & .hero-buttons {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;
    }

    & .button {
        margin-top: 70px;
      
        width: 144px;
        height: 120px;

        background-image: url("hero/button.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Pixellari;
        color: #A29F4D;
        text-decoration: none;
        text-align: center;
        font-size: 28px;
        line-height: 1.1;
        text-shadow: 3px 3px #4a2a18;

        image-rendering: pixelated;
    }

    & .button:hover {
        transform: translateY(-4px);
        filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
        filter: brightness(1.3);
    }

}

/* ABOUT */
.about {
    min-height: 100vh;
    padding: none;
    padding-bottom: 40px;

    background-image: url("about/sky1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    & .board1 {
        width: 1270px;
        height: 1060px;

        background-image: url("about/board1.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;

        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: none;
    }

    & h2 {
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);

        font-family: Daydream;
        -webkit-text-stroke: 0.5px #3A3C0E;
        font-size: 64px;
        text-align: center;
        color: #E2DC71;
        opacity: 65%;
        text-shadow: 3px 3px rgba(58, 60, 14, 0.4);
        margin-bottom: 40px;
    }

    & .about-content {
        position: absolute;

        top: 350px;  
        left: 200px;
        right: 100px;

        display: grid;
        grid-template-columns: 350px 450px;
        gap: 40px;  
    }

        & img {
            margin-top: 75px;
            margin-left: -50px;
            width: 427px;
            height: 292px;
            object-fit: cover;
            border-radius: 10px;
            image-rendering: pixelated;

            transition: transform 0.15s;
        }

        & img:hover {
            transform: translateY(-4px);
            filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
        }

        & h3 {
            text-align: center;
            font-family: "Pixellari";
            font-size: 38px;
            color: #e6db75;
            margin-bottom: 10px;
        }

        & p {
            text-align: center;
            font-family: "Minecraft";
            font-size: 25px;
            line-height: 1.4;
            letter-spacing: 1px;
            color: #231b0d;
            margin-bottom: 22px;
        }

        
}

/* HOW TO PLAY */
.play {
    min-height: 100vh;
    padding: 100px 40px;

    background: url("how/wall.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: -60px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    & .board2 {
        margin-top: 80px;
        width: 1500px;
        height: 1500px;

        aspect-ratio: 1323 / 1600;

        background-image: url("how/board2.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        position: relative;
        padding: 0;

        image-rendering: pixelated;
    }

    & h2 {
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);

        font-family: Daydream;
        -webkit-text-stroke: 0.5px #3A3C0E;
        font-size: 64px;
        text-align: center;
        color: #E2DC71;
        opacity: 81%;
        text-shadow: 6px 6px rgba(0,0,0, 0.4);
        white-space: nowrap;
    }

    & .controls {
        position: absolute;
        top: 360px;
        left: 50%;
        transform: translateX(-50%);

        display: grid;
        grid-template-columns: repeat(3, 290px);
        gap: 15px;
        justify-content: center;

        & h3 {
            position: absolute;
            top: -90px;
            left: 50%;
            transform: translateX(-50%);

            font-family: "Minecraft";
            font-size: 70px;
            letter-spacing: 10px;
            color: #A8A54D;
            text-shadow: 2px 4px rgba(0,0,0, 0.4);
            white-space: nowrap;
        }

        & div {
            width: 290px;
            height: 240px;

            position: static;
            transform: none;  
            left: auto;  

            background: rgba(113, 70, 31, 0.75);
            padding: 20px;
            border-radius: 12px;
            text-align: center;
        }

        & div:hover {
            filter: brightness(1.5);
        }

        & h4 {
            margin-top: -10px;
            font-family: "Minecraft";
            font-size: 46px;
            letter-spacing: 5px;
            color: #BAB654;
            text-shadow: 2px 4px rgba(0,0,0, 0.2);
        }

        & p {
            font-family: "Pixellari";
            font-size: 28px;
            color: #CAAA53;
            line-height: 1.5;
        }
    }

    & .powerups {
        margin-top: 120px;

        position: absolute;
        top: 650px;
        left: 50%;
        transform: translateX(-50%);

        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 120px;

        text-align: center;

        & h3 {
            position: absolute;
            top: -90px;
            left: 50%;
            transform: translateX(-50%);

            font-family: "Minecraft";
            font-size: 70px;
            letter-spacing: 10px;
            color: #A8A54D;
            text-shadow: 2px 4px rgba(0,0,0, 0.4);
            white-space: nowrap;
        }

        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & img {
            width: 177px;
            object-fit: contain;
            image-rendering: pixelated;
        }

        & h4 {
            font-family: "Pixellari";
            font-size: 46px;
            letter-spacing: 5px;
            color: #BAB654;
            margin-top: 12px;
            text-shadow: 2px 4px rgba(0,0,0, 0.2);
            margin-bottom: 8px;
        }

        & p {
            font-family: "Pixellari";
            font-size: 28px;
            color: #CAAA53;
            line-height: 1.4;
            width: 350px;
        }
    }

    & .tips {
        position: absolute;
        top: 1100px;
        left: 170px;
        right: 170px;

        background: rgba(118, 120, 48, 0.5);
        padding: 25px;
        border-radius: 15px;
        text-align: center;

        & h4 {
            font-family: "Pixellari";
            font-size: 46px;
            letter-spacing: 5px;
            color: #BAB654;
            text-shadow: 2px 4px rgba(0,0,0, 0.4);
            gap: 10px;
            margin-bottom: 15px;
        }

        & p {
            columns: 2;

            font-family: "Pixellari";
            font-size: 28px;
            color: #CAAA53;
            line-height: 1.6;
            width: auto;
            text-align: left;
        }
    }
}

/* TEAM */
.team {
    position: relative;
    min-height: 100vh;
    padding: 70px 20px 140px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("team/sky2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
    image-rendering: pixelated;

    margin-top: -51px;

    & h2 {
        font-family: "Daydream";
        font-size: 52px;

        color: #E2DC71;

        -webkit-text-stroke: 0.5px #3A3C0E;

        text-shadow: 5px 5px rgba(0,0,0,0.4);

        margin-bottom: 35px;

        z-index: 5;
    }

    & .team-grid {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        position: relative;

        z-index: 3;
    }

    & .card {
        position: relative;

        width: 250px;
        height: 317px;

        image-rendering: pixelated;
    }


    & .bg {
        position: absolute;

        top: 1px;
        left: 50%;

        transform: translateX(-50%);

        width: 236px;
        height: 314px;

        background-image: url("team/background.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;

        z-index: 1;
    }

    & .card img {
        position: absolute;

        top: 44%;
        left: 50%;

        transform: translate(-50%, -58%);

        width: 220px;
        height: 220px;
        max-width: 220px;
        max-height: 220px;

        object-fit: cover;

        z-index: 2;
    }

    & .card-border {
        position: absolute;
        inset: 0;

        background-image: url("team/border.svg");
        background-size: 250px 317px;
        background-repeat: no-repeat;
        background-position: center;

        pointer-events: none;

        z-index: 3;
    }

    & p {
        position: absolute;

        bottom: 25px;
        left: 50%;

        transform: translateX(-50%);

        width: 90%;

        font-family: "Minecraft";
        font-size: 23px;
        line-height: 1.1;
        letter-spacing: 3px;

        color: #DEE377;
        text-shadow: 2px 4px rgba(0,0,0,0.2);

        text-align: center;

        z-index: 4;
    }

    & .grass {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;

        image-rendering: pixelated;

        z-index: 1;
    }

    & a {
        text-decoration: none;

        transition: 0.2s ease;

        display: block;
    }

    & a:hover {
        transform: translateY(-10px) scale(1.03);
    }

    & a:hover .card {
        filter: brightness(1.08);
        box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    }

    & .footer-text {
        position: absolute;

        bottom: 18px;
        left: 50%;

        transform: translateX(-50%);

        font-family:Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 1.4;
        letter-spacing: 2px;
        font-weight: 0px;
        color: white;
        text-align: center;

        z-index: 3;
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        gap: 25px;

        & a {
            font-size: 13px;
        }
    }

    .hero {
        & h1 {
            font-size: 45px;
        }

        & p {
            font-size: 16px;
        }
    }

    .about {
        & .board {
            width: 95%;
            padding: 25px;
        }

        & h2 {
            font-size: 38px;
        }

        & .about-content {
            grid-template-columns: 1fr;
        }
    }

    .play {
        & .scroll-board {
            width: 95%;
            padding: 30px;
        }

        & h2 {
            font-size: 38px;
        }

        & .controls,
        & .powerups {
            grid-template-columns: 1fr;
        }
    }

    .team {
        & h2 {
            font-size: 40px;
        }

        & .team-grid {
            grid-template-columns: 1fr;
        }
    }
}

.nav-link.active {
    color: #E2DC71;

    text-shadow:
        0 0 5px rgba(255,255,180,0.7),
        0 0 10px rgba(255,255,180,0.4);

    transform: translateY(-2px);
}
